* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1A0B2E;
    color: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}



button {
    cursor: pointer;
    border: none;
}

/* ===== Header / Nav ===== */
header {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav .logo {
    font-size: 2em;
    font-weight: 900;
}

nav .logo span {
    background: linear-gradient(to top right, #FACC15, #EC4899, #A855F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .subscribe-btn {
    padding: 10px 20px;
    background: #6B21A8;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

nav .subscribe-btn:hover {
    transform: scale(1.05);
}

hr {
    border-color: #9a66b8;
    margin-top: 10px;
}
